@import "tailwindcss";
html {
  scroll-behavior: smooth; /* optional, Tailwind also has class scroll-smooth */
}

body {
  font-family: var(--font-poppins); /* custom font */
  background-color: #F9F9F9;
  color: var(--color-text);
  line-height: 1.6; /* optional, can use Tailwind's leading-* */
}

a {
  text-decoration: none; /* optional, Tailwind has class no-underline */
}

button {
  cursor: pointer; /* optional, Tailwind has cursor-pointer */
}

a, button {
  transition: all 0.3s ease; /* optional, can use Tailwind's transition */
}
