@import "tailwindcss";
html {
  scroll-behavior: smooth; /* optional, Tailwind also has class scroll-smooth */
}

body {
  font-family: var(--font-poppins); /* custom font */
  background-color: #F9F9F9;
  color: var(--color-text);

}

a {
  text-decoration: none; /* optional, Tailwind has class no-underline */
}

button {
  cursor: pointer; /* optional, Tailwind has cursor-pointer */
}

a, button {
  transition: all 0.3s ease; /* optional, can use Tailwind's transition */
}
.shadoww{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.shadoww:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
